*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    font-family: sans-serif;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.container {
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin-bottom: 70px;
}

@media (max-width: 767px) {
    .header-container {
        flex-direction: column;
        text-align: center;
    }

    .header-left{
        margin-bottom: 40px;
    }
}

.header-container h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.header-container h3 {
    font-size: 1rem;
    text-align: center;
}

.header-right {
    align-self: center;
}

.header-right ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-right ul li {
    margin-left: 10px;
    font-size: 18px;
}

.header-right ul li a {
    text-decoration: none;
    color: #333;
}

.cv-home-body {
    display: flex;
}

@media (max-width: 1025px){
    .cv-home-body{
        flex-direction: column;
    }
}

.cv-home-body > div {
    flex: 50%;
}

.cv-home-body .home-left img {
    width: 100%;
    height: auto;
    max-width: 950px;
}

.cv-home-body .home-right {
    padding: 100px;
}

.cv-home-body .home-right p {

}

.cv-home-body .home-right h3 {
    text-align: center;
    margin-bottom: 40px;
}

/* PORTFOLIO */
.project__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.project__wrapper > div {
    flex: 50%;
}

.project__image{
    align-self: center;
}

.project__image img {
    height: auto;
    width: 100%;
    max-width: 600px;
}

.project__description {
    padding: 5%;
}

.project__description h3 {
    margin-bottom: 25px;
}

.project__description p {
    margin-bottom: 10px;
}

@media (max-width: 1025px) {
    .project__wrapper:is(.first,.third,.fifth) {
        flex-direction: column;
    }

    .project__wrapper:is(.second,.forth) {
        flex-direction: column-reverse;
    }
}
